.card-persona{
    display: inline-flex;
    margin: 5px;
    width: 352px;
    border: 2px rgb(22, 92, 92);
    border-radius: 8%;
    flex-flow: column;
    justify-content: center;
    background: rgb(22, 92, 92);
    padding: 40px;
}
.foto-perfil{
    width: 70px;
    height: 70px;
    margin: 20px;
    margin-left: 42px;
    border-radius: 100%;
}
.nombre-perfil{
    width: 66%;
    height: 58px;
}
.montania{
    width: 77px;
    height: 50px;
    padding: 13px;
}
.cuerpos{
    display: flex;
    justify-content: space-around;
    color: aliceblue;
}
.data-persona{
    display: block;
    text-align: justify;
    color: aliceblue;
}